.container {
    display: grid;
    grid-template: auto 1fr auto / minmax(64px, auto) 1fr minmax(150px, auto);

    height: 100vh;
}

.header {
    background-color: #8975CA;

    padding: 2rem;
    grid-column: 1 / 4;
}

.left {
    background-color: #6BBDE3;

    grid-column: 1 / 2;
}

.right {
    /* background-color: #CAE4FC; */
    background-color: #232931;
    color: aliceblue;

    grid-column: 3 / 4;
    overflow-y: auto;
}

.main {
    /* background-color: #F4E4CA; */
    background-color: #232931;

    grid-column: 2 / 3;

    display: grid;
    place-items: center;
}

.footer {
    background-color: #D9C39C;

    grid-column: 1 / 4;
}

