li.timeevent {
  list-style: none;
  margin: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}
li.timeevent::last-child {
  border-left: 0;
}
li.timeevent::before {
  position: absolute;
  left: -13px;
  top: -5px;
  content: " ";
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}
li.timeevent:hover::before {
  border-color: #232931;
  transition: all 500ms ease-in-out;
}

li.timeevent > div.timestamp {
  color: #50d890;
  position: relative;
  width: 100px;
  font-size: 12px;
}

li.timeevent > div.eventdetails {
  color: #fff;
}